<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hey Jinja Ninja! {{name}} </h1>
    <h1>Hey Jinja Ninja! {{name | capitalize }} </h1>
    <h1>Hey Jinja Ninja! {{name | lower }} </h1>
    <h1>Hey Jinja Ninja! {{name | upper }} </h1>

    <p>Dict Value: {{ d['key'] }}</p>

    <p>List value: {{l[0]}}</p>

    <div>All list values</div 

    {% for item in l  %}
        <li>{{ item }}</li>
    {% endfor %}
    <p>Object value: {{o.someMethod() }}</p>
</body>
</html>